.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-body {
    text-align: center;
  }
  
  .modal-footer {
    margin-top: 20px;
  }
  